.Cabeza{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: lightgray;
}

.Cabeza h1{
    /* background-color: black; */
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

input{
    margin: 5px;
    padding: 3px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

@media screen and (max-width: 768px) {

    div.Cabeza{
        font-size: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    div.Cabeza h1{
        font-size: 60px;
    }

    div.Cabeza input{
        width: 93%;
    }
}